.pag{

	min-height: 60px;
	width: 80%;
	border-style: solid;
	border-color: lightgray;
	background-color: lightgray;
	font-size: 2.6em;

}

#pagina1{

	float right: 



}
#pagina2{
	float: left;
}